<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Sign in Page</h2>

    <form action="/signin" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username">

        <br> <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password">
        
        <br> <br>
        <button>Log in</button>
    </form>

    <a href="/signup">want to sign up?</a>


</body>
</html>