*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    background: url(https://images.unsplash.com/photo-1682961941145-e73336a53bc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60);
    /* background-repeat: repeat; */
    /* background-size: cover; */
    background-size: contain;
}