<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Page</h1>

    <form action="/comments/<%=comment.id%>?_method=PATCH" method="POST">
        <label for="text">Comment Text</label>
        <br>
        <textarea name="text" id="text" cols="30" rows="4"><%= comment.text %></textarea>
        <button type="submit">Save</button>
    </form>
</body>
</html>