.container{
    border: 2px solid black;
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align: center;
}

.inp{
    padding: 5px;
    width: 80%;
}

.btn{
    width: 15%;
    padding: 5px;
    cursor: pointer;
}

.item{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.section-B span{
    cursor: pointer;
}

.item li {
    display: inline;
    list-style: none;
}

.checked{
    text-decoration: line-through;
}