/* *{
    margin: 0;  
    padding: 0;
} */


/* h1{
    color: aqua;
}

p{
    color: red;
}

#special{
    color: rgb(0, 0, 0);
} */

/* .green{
    color: green;
    border: 2px solid red;
}

a[href="http://google.com"]{
    border: 2px solid black;
    /* padding: 20px; */
    background-color: red;
}

input[type="password"]{
    background-color: orange;
} 

*/

